@font-face{
    font-family: 'system-font';
    src: url('font/system-font.ttf');
}
@font-face{
    font-family: 'crash-font';
    src: url('font/crash-font.otf');
}
@font-face{
    font-family: '92-font';
    src: url('font/92-font.ttf');
}
@font-face{
    font-family: 'text-font';
    src: url('font/text-font.ttf')
}


*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

html body {
    background-image: url('./images/fondo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

html body header nav {
    padding-top: 2% !important;
}

.logo-main {
    width: 85%;
    height: auto;
}

.common-font {
    font-family: 'text-font';
    font-size:calc(50% + 1vw + 1vh);
}

.common-font a {
    text-decoration: none;
    color: white;
    border: 2px solid blue;
}

.t1 {
    font-family: 'system-font';
    font-size:calc(100% + 3vw + 3vh);
    color: rgb(0, 187, 194);
    -webkit-text-stroke: 2px rgb(0, 77, 80);
}

.t2 {
    font-family: 'crash-font';
    font-size:calc(100% + 2vw + 2vh);
    color: rgb(255, 0, 106);
    -webkit-text-stroke: 1px rgb(187, 0, 78);
}

.t3 {
    font-family: '92-font';
    font-size:calc(100% + 2vw + 2vh);
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 3px black;
}

.gameplay{
    width: 90%;
}

.text-gameplay1, .text-gameplay2{
    padding-top: 4%;
    font-family: 'text-font';
    color: white;
}

.row, .row>* {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.logo-name {
    line-height: 1.0;
}

.cont-info{
    margin-top: 8% !important;
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.cont-info-bg {
    background-image: url('./images/cont-info.png');
}

.section-info {
    border: 2px solid blue;
    border-radius: 10%;
    padding: 3% 3% 3% 3%;
    margin-top: 3% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.cont-name {
    margin-top: 2% !important;
}

video {
    border: 2px solid white;
}


